<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"
        <title> petaluma </title>
    </head>

    <body>
        
        {% for num in range(size) %}

            {% if num|string in temps%}

                <div>
                    <p><h1> {{temps[num|string][0]}} </h1> </p>
                        
                    
                        <p style="float: left; padding-right:10px"> 
                            <img src="/static/img/temp.png" alt="no img" width = "70" height= "70"/> 
                        </p>

                    <p>
                        <h3 class="temperature"> temperature </h3>
                        <h2 class="temperature"> {{temps[num|string][1]}} F</h2>
                    </p>
                </div>

                <br>
                <div>
                    <p style="float: left; padding-right:10px"> 
                        <img src="/static/img/water-drop.png" alt="no img" width = "70" height= "70"/> 
                    </p>
                    
                    <p>
                        <h3 class="hudmidity"> hudmidity </h3>
                        <h2 class="hudmidity"> {{temps[num|string][2]}} %</h2>
                    </p>

                </div>
                <br>    
                <div>
                    <p style="float: left; padding-right:10px"> 
                        <img src="/static/img/future.png" alt="no img" width = "70" height= "70"/> 
                    </p>
                    
                    <p>
                        <h3 class="active"> last active </h3>
                        <h3 class="active"> {{temps[num|string][4]}}</h3>
                    </p>
                    
                </div>
                <br>
            {% endif %}

        {% endfor %}

    </body>
    
    </head>
</html>
