<!DOCTYPE HTML>
<html>
<head>
    <title> esp8266 sensors </title>
</head>
<body>
    <h1> room 1 </h1>
</body>

<body>
    <h1> temp in F </h1>
    <p> {{temps["room1"][0]}}</p>
</body>

<body>
    <h1> hudmidity</h1>
    <p> {{temps["room1"][1]}}</p>
</body>

<body>
    <h1> last active </h1>
    <p> {{temps["room1"][2]}}</p>
</body>

<hr><hr>

<head>
    <title> esp8266 sensors </title>
</head>
<body>
    <h1> room 2 </h1>
</body>

<body>
    <h1> temp in F </h1>
    <p> {{temps["room2"][0]}}</p>
</body>

<body>
    <h1> hudmidity</h1>
    <p> {{temps["room2"][1]}}</p>
</body>

<body>
    <h1> last active </h1>
    <p> {{temps["room2"][2]}}</p>
</body>

<hr><hr>

<head>
    <title> esp8266 sensors </title>
</head>
<body>
    <h1> room 3 </h1>
</body>

<body>
    <h1> temp in F </h1>
    <p> {{temps["room3"][0]}}</p>
</body>

<body>
    <h1> hudmidity</h1>
    <p> {{temps["room3"][1]}}</p>
</body>

<body>
    <h1> last active </h1>
    <p> {{temps["room3"][2]}}</p>
</body>

<hr><hr>

<head>
    <title> esp8266 sensors </title>
</head>
<body>
    <h1> room 4 </h1>
</body>

<body>
    <h1> temp in F </h1>
    <p> {{temps["room4"][0]}}</p>
</body>

<body>
    <h1> hudmidity</h1>
    <p> {{temps["room4"][1]}}</p>
</body>

<body>
    <h1> last active </h1>
    <p> {{temps["room4"][2]}}</p>
</body>

<hr><hr>

<head>
    <title> esp8266 sensors </title>
</head>
<body>
    <h1> room 5 </h1>
</body>

<body>
    <h1> temp in F </h1>
    <p> {{temps["room5"][0]}}</p>
</body>

<body>
    <h1> hudmidity</h1>
    <p> {{temps["room5"][1]}}</p>
</body>

<body>
    <h1> last active </h1>
    <p> {{temps["room5"][2]}}</p>
</body>

<hr><hr>

</html>
