<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title> petaluma </title>
    </head>

    <body>
        
        {% for num in range(size) %}

            {% if num|string in temps%}
            <div class = info_container>
                <div class="location"> <h1> {{temps[num|string][0]}} </h1></div>
                <div class="info_division"> 
                    <div class =main_box>
                                            
                        <div style="float: left; padding-right:10px" class="icon"> 
                            <img src="/static/img/temp.png" alt="no img" width = "70" height= "70"/> 
                        </div>

                        <div class="font_division">
                            <div class="title_font"><h3>temperature</h3></div>
                            <div class="value_font"><h2>{{temps[num|string][1]}} F</h2></div>
                        </div>
                    </div>

                    <div class=main_box>
                        <div style="float: left; padding-right:10px" class="icon"> 
                            <img src="/static/img/water-drop.png" alt="no img" width = "70" height= "70"/> 
                        </div>
                        
                        <div class="font_division">
                            <div class="title_font"><h3> hudmidity </h3></div>
                            <div class="value_font"> <h2> {{temps[num|string][2]}} %</h2></div>
                        </div>
                    </div>

                    <div class=main_box>
                        <div style="float: left; padding-right:10px" class="icon"> 
                            <img src="/static/img/future.png" alt="no img" width = "70" height= "70"/> 
                        </div>
                        
                        <div class="font_division">
                            <div class="title_font"><h3> last active </h3></div>
                            <div class="value_font"><h3> {{temps[num|string][3]}}</h3> </div>
                        </div>
                        
                    </div>

                    <div class=main_box>
                        <div style="float: left; padding-right:10px" class="icon"> 
                            <img src="/static/img/light-bulb.png" alt="no img" width = "70" height= "70"/> 
                        </div>
                        
                        <div class=font_division>
                            <div class="title_font"> <h3> lighting</h3> </div>
                            <div class="value_font"> <h3> {{temps[num|string][4]}}</h3> </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endif %}

        {% endfor %}

    </body>
    
    </head>
</html>